@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<div class="alert alert-danger mt-4">
    <h4>Error</h4>
    <p>@ViewBag.Message</p>
    <a href="/" class="btn btn-primary">Back to start</a>
</div>
